.startButtonContainer{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.startButtonContainer button{
    width: 100px;
    height: 40px;
    outline: none;
    border: none;
    background-color: gray;
}
button{
    background-color: orange;
}