.App {
  text-align: center;
  background-color: purple;
  background-image: linear-gradient(rgba(102, 47, 124, 0.678), rgba(128, 0, 128, 0.096), rgba(37, 2, 78, 0.63));  
  animation: backgroundColorAnimation 10s infinite;
  text-align: center;  
  height: 100vh;  
  box-sizing: border-box;    
}
@keyframes backgroundColorAnimation {
  00%{ background-color: purple;}
  50%{ background-color: rgb(103, 41, 128);}
  100%{ background-color: purple;}
}
.gameContainer{
  height: 400px;
  width: 600px;
  background-color: rgb(68, 60, 73);
  margin-top: calc(50% - 200px);    
  border: 1px solid rgb(0, 0, 0);
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.384);
  border-radius: 10px;
  margin: 0px;
  box-sizing: border-box;
  position: relative;
}
.startButtonContainer{

}
.startButtonContainer button{
  width: 100px;
  height: 40px;
  outline: none;
  border: none;
  background-color: rgb(253, 207, 0);
  border-radius: 3px;
  color: rgb(0, 0, 0);
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}
.startButtonContainer button:hover{
  background-color: rgb(255, 230, 117);
  box-shadow: 0 0 20px rgb(253, 207, 0);
}
.numberGameContainer{  
  width: 600px;
  height: 300px;
  position: fixed;
  z-index: 10;
  margin-left: calc(50% - 300px);;  
  margin-top: calc(50% - 250px);
  background-color: rgb(61, 49, 65);
  border-radius: 5px;  
  display: flex;
  align-items: center;
  justify-content: center;  
  
}
.characterContainer{
  color: white;
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px 40px 20px;
  margin-top: -20px;
}
.numberGameContainer input{
  width: 200px;
  height: 40px;
  background-color: rgba(128, 128, 128, 0.5);
  padding: 0 10px;
  border: none;
  outline: none;
}
.resultsArea{
  position: absolute;
  bottom: 0px;
  width: 100%;
  text-align: center;
  left: 0;
}
.correctIndicator{
  display: inline-block;
  padding: 20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 5px;
}
.correct{
  border: 1px solid green;
}
.notCorrect{
  border: 1px solid red;
}
.keyLog{
  width: 90%;
  height: 40px;
  overflow-y: auto;  
  margin: auto;
  padding-top: 10px;
}
.keyLog::-webkit-scrollbar{
  display: none;
}
.hintIcon{
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer; 
  width: 40px;
}
.hintIconText{
  color: rgba(32, 32, 32, 0.795);
}
.hint{
  height: 40px;
  line-height: 35px;
  min-width: 80px;
  background-color: rgba(128, 128, 128, 0.548);
  border-radius: 3px;  
  opacity: 0;
  transition: 1s;
  color: rgb(68, 60, 73);;
}
.hintIcon:hover .hint{
  display: inline-block;
  opacity: 1;
}
.box{
  opacity: 0;
  height: 350px;  
  width: 400px;
  position: absolute;
  margin: auto;
  left: calc(50% - 200px);   
  z-index: -1;     
}
.box img{
  height: 100%;
  z-index: inherit;
  border-radius: 5px;
  box-shadow: 0 0 20px rgba(93, 60, 109, 0.938);  
  -webkit-mask-image: radial-gradient(rgb(0, 128, 0), rgba(0, 128, 0, 0));
}
.fade{
  animation: fadeInAndOut 3s;
}
@keyframes fadeInAndOut{
  0% {opacity: 0}
  10% {opacity: 0.8}  
  100% {opacity: 0}
}